<div id="box-menu" class="boxes-container sub-menu d-none"> {% comment %}added id{% endcomment %}
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a id="box-menu-btn-dashboard" class="nav-link active sub-menu-item unselectable" data-toggle="pill">
                Mussels
            </a>
        </li>
        <li class="nav-item">
            <a id="box-menu-btn-graphs" class="nav-link sub-menu-item unselectable" data-toggle="pill">
                Graphs
            </a>
        </li>
        <li class="nav-item">
            <a id="box-menu-btn-exports" class="nav-link sub-menu-item unselectable" data-toggle="pill">
                Export
            </a>
        </li>
        <li class="nav-item">
            <a id="box-menu-btn-ai" class="nav-link sub-menu-item unselectable" data-toggle="pill">
                AI analysis
            </a>
        </li>
        <li class="nav-item">
            <a id="box-menu-btn-notifications" class="nav-link sub-menu-item unselectable" data-toggle="pill">
                Notifications
            </a>
        </li>
        <li class="nav-item">
            <a id="box-menu-btn-settings" class="nav-link sub-menu-item unselectable" data-toggle="pill">
                Settings
            </a>
        </li>
    </ul>
</div>
<script defer type="text/javascript" src="{% static "js/box/box-menu.js" %}"></script> {% comment %}added "defer" key to make graph button work{% endcomment %}
