<div class="graphMenu" style="margin-top:30px;">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a id="graphs-btn-live" class="nav-link active sub-menu-item unselectable d-none" data-toggle="pill">
                Live
            </a>
        </li>
        <li class="nav-item">
            <a id="graphs-btn-hour" class="nav-link sub-menu-item unselectable d-none" data-toggle="pill">
                1 hour
            </a>
        </li>
        <li class="nav-item">
            <a id="graphs-btn-12hours" class="nav-link sub-menu-item unselectable d-none" data-toggle="pill">
                12 hours
            </a>
        </li>
        <li class="nav-item">
            <a id="graphs-btn-day" class="nav-link sub-menu-item unselectable d-none" data-toggle="pill">
                1 day
            </a>
        </li>
        <li class="nav-item">
            <a id="graphs-btn-week" class="nav-link sub-menu-item unselectable d-none" data-toggle="pill">
                1 week
            </a>
        </li>
        <li class="nav-item">
            <a id="graphs-btn-month" class="nav-link sub-menu-item unselectable d-none" data-toggle="pill">
                1 month
            </a>
        </li>
        {% comment %} <button class="btn btn-primary chartHide" style="margin-bottom:16px" id ="groupscv" >Dowload Data</button> {% endcomment %}

    </ul>
</div>
{% comment %} Graph Area/Loading {% endcomment %}
<div id="graph-loading" class="loader d-none"></div>
<div id="graph-space" class="chart-hide"
    style="height:800px; width:1500px; background:rgb(40, 47, 63); margin-top:30px; margin-bottom:20px;"> {% comment %}  changed the style to make it bigger {% endcomment %}
</div>

<script type="text/javascript" src="{% static "js/box/graphs.js" %}"></script>
