<!-- Navbar -->
<nav class="navbar navbar-expand menu navbar-dark fixed-top">
    <!-- Left Navbar-->
    <ul class="navbar-nav unselectable">
        <li class="nav-item navigation-control">
            <a class="nav-link hidable-navigation-control d-none"><i class="fas fa-arrow-left icon"></i></a>
        </li>
        <!-- Home button -->
        <li class="nav-item navigation-control">
            <a class="nav-link hidable-navigation-control d-none" data-selected="*"><i class="fas fa-home icon"></i></a>
        </li>
        <li class="navbar-text menu-divider">
            <span class="hidable-navigation-control d-none">|
            </span>
        </li>
    </ul>

    <!-- Center Navbar -->
    <ul class="navbar-nav center-navbar">
        <li class="navbar-brand logo-text">
            ECOSOPH
        </li>
    </ul>

    <!-- Right Navbar -->
    <ul class="navbar-nav right-navbar unselectable">
        <li class="nav-item navigation-control">
            <a class="nav-link" style="font-size: 1.3em"><i class="fas fa-cog"></i></a>
        </li>
        <!-- Home button -->
        <li class="nav-item navigation-control">
            <a class="nav-link" style="font-size: 1.3em"><i class="far fa-question-circle"></i></a>
        </li>
        <li class="navbar-text menu-divider">
            <span class="hidable-navigation-control" style="font-size: 1.3em">|
            </span>
        </li>
        <li class="nav-item navigation-control">
            <img src="{% static "images/user_default.png" %}" style="border-radius: 50%; width:50px"></a>
        </li>
    </ul>
</nav>