<div class="col-md-3 dashboard-card">
    <div class="box-container clkable-card">
        <p class="box-title unselectable">{% group.name %}</p>
        <div class="row mussels-container unselectable">
            <div class="col-md-3 mussel-dividers">
                <img id="M1-{% group.id %}" style="width:100%;">
            </div>
            <div class="col-md-3 mussel-dividers">
                <img id="M2-{% group.id %}" style="width:100%;">
            </div>
            <div class="col-md-3 mussel-dividers">
                <img id="M3-{% group.id %}" style="width:100%;">
            </div>
            <div class="col-md-3 mussel-dividers">
                <img id="M4-{% group.id %}" style="width:100%;">
            </div>
            <div class="col-md-3 mussel-dividers">
                <img id="M5-{% group.id %}" style="width:100%;">
            </div>
            <div class="col-md-3 mussel-dividers">
                <img id="M6-{% group.id %}" style="width:100%;">
            </div>
            <div class="col-md-3 mussel-dividers">
                <img id="M7-{% group.id %}" style="width:100%;">
            </div>
            <div class="col-md-3 mussel-dividers">
                <img id="M8-{% group.id %}" style="width:100%;">
            </div>
        </div>
        <p class="box-footer unselectable" id="U{% group.id %}">Last updated: 25 minutes ago</p>
    </div>
</div>