<div id="dashboard" class="row main-container">

</div>
<script type="text/javascript" src="{% static "js/dashboard/dashboard.js" %}"></script>
<script>
    var csrfToken = "{{ csrf_token }}";
</script>

    {% comment %} <div class="col-md-3 dashboard-card">
        <div class="box-container">
            <p class="box-title unselectable">Box 2</p>
            <div class="row mussels-container unselectable">
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
            </div>
            <p class="box-footer unselectable ">Last updated: 12 minutes ago</p>
        </div>
    </div>
    <div class="col-md-3 dashboard-card">
        <div class="box-container">
            <p class="box-title ">Box 3</p>
            <div class="row mussels-container unselectable">
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
            </div>
            <p class="box-footer unselectable ">Last updated: 7 minutes ago</p>
        </div>
    </div>
    <div class="col-md-3 dashboard-card">
        <div class="box-container">
            <p class="box-title unselectable">Box 4</p>
            <div class="row mussels-container unselectable">
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
            </div>
            <p class="box-footer unselectable ">Last updated: 45 seconds ago</p>
        </div>
    </div>
    <div class="col-md-3 dashboard-card">
        <div class="box-container">
            <p class="box-title unselectable">Box 5</p>
            <div class="row mussels-container unselectable">
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
            </div>
            <p class="box-footer unselectable ">Last updated: 25 seconds ago</p>
        </div>
    </div>
    <div class="col-md-3 dashboard-card">
        <div class="box-container">
            <p class="box-title unselectable">Box 6</p>
            <div class="row mussels-container unselectable">
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
            </div>
            <p class="box-footer unselectable ">Last updated: 3 hours ago</p>
        </div>
    </div>
    <div class="col-md-3 dashboard-card">
        <div class="box-container">
            <p class="box-title unselectable">Box 7</p>
            <div class="row mussels-container unselectable">
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_purple.png" %}" style="width:100%;">
                </div>
            </div>
            <p class="box-footer unselectable ">Last updated: 38 minutes ago</p>
        </div>
    </div>
    <div class="col-md-3 dashboard-card">
        <div class="box-container">
            <p class="box-title unselectable">Box 8</p>
            <div class="row mussels-container unselectable">
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_green.png" %}" style="width:100%;">
                </div>
                <div class="col-md-3 mussel-dividers">
                    <img src="{% static "images/mussel_pink.png" %}" style="width:100%;">
                </div>
            </div>
            <p class="box-footer unselectable ">Last updated: 9 minutes ago</p>
        </div>
    </div>
</div> {% endcomment %}
