<div id="dashboard-menu" class="boxes-container sub-menu">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a id="dashboard-menu-btn-dashboard" class="nav-link active sub-menu-item unselectable" data-toggle="pill">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a id="dashboard-menu-btn-googlemaps" class="nav-link sub-menu-item unselectable" data-toggle="pill">
                Google Maps
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="{% static "js/dashboard/dashboard-menu.js" %}"></script>